<div class="title">
  <h2>Contact Us</h2>
</div>

<ol id="chooseID">
  <li data-id="login-button" data-options="tipLocation:botton;">Click the Login Button</li>

  <li>Tip content...</li>

  <li data-class="parent-element-class" data-options="tipLocation:top;tipAnimation:fade" data-button="Second Button">Content...</li>

  <li data-id="parentElementID" class="custom-class">Content...</li>
</ol>

<div class="mobile-margins">
  <div class="create-section row">
    <%= form_tag do %>
      <% if current_user.nil? %>
        Please fill in your email:
        <%= text_field_tag(:email, nil, required: true, placeholder: "bob@gmail.com") %>
      <% else %>
        <%= hidden_field_tag :email, current_user.email %>
      <% end %>
        Tell us your problem:
        <p><i>This will email your problem to the administrators.</i></p>
      <%= text_area_tag(:problem, nil, required: true, placeholder: "I'm on the homepage and I forgot my password. What do I do?") %>
      <%= submit_tag("Contact") %>
    <% end %>
  </div>
</div>  

<div class="mobile-margins">
  <div class="create-section row">
    <h3 class="faq-title">
      <strong>FAQ (Frequently Asked Questions):</strong>
    </h3>

    <div class="faq"> 
      <ul>
        <li>How do I login?</li>
      </ul>
      <div class="embed">
        <!-- <iframe class="faq-iframe" src="https://www.youtube.com/embed/94OFIVpwua0" frameborder="0" allowfullscreen></iframe> -->
      </div>
    </div>
  </div>
</div>
