<%= render "users/registrations/new" %>
<div class='landing'>
  <%= image_tag("bg_main.jpg") %>
  <div class='banner_text'>
    <h1>Know what's happening.</h1>
    <h4>Ashby Village Square powers group communication</h4><br/>
    <%= link_to 'Create an Account', "#",  data: {toggle: "modal", target: "#myModal", :"reveal-id"=>"register"}, class: 'button success radius large' %>
    <!-- THIS IS WHERE YOU LEFT OFF -->
  </div>

  <div class='footer'>
    <div class='small-9 small-centered column'>
      <h3>What you'll be able to do on Ashby Village Square</h3>
    </div>
    <div class='row'>
      <div class="small-6 small-centered large-4 large-uncentered columns">
        <div class="communications" style="height:150px;"></div>
         <%= image_tag("communications.png") %>
        <h4>Stay Updated</h4>
        <p>This website provides you a channel to talk with all fellow villagers.</p>
      </div>
      <div class="small-6 small-centered large-4 large-uncentered columns">
        <div class="groups" style="height:150px;"></div>
        <%= image_tag("groups.png") %>
        <h4>Form Groups</h4>
        <p>All the interest groups you know and love are here.  But you can form them if any are missing.</p>
      </div>
      <div class="small-6 small-centered large-4 large-uncentered columns">
        <div class="events" style="height:150px;"></div>
         <%= image_tag("events.png") %>
        <h4>Create Events</h4>
        <p>You'll easily be able to coordinate large events among many members.</p>
      </div>
    </div>
  </div>
</div>
