<div class="new-reply large-12 columns">
  <%= form_for [post, reply], remote: true do |f| %>
  <%= post.user.decorate.full_name %>
  <%= reply %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Write your response here", required: true %>
    </div>
    <%= f.hidden_field :post, value: post, required: true %>
    <%= f.submit "Post Reply Here", class: "button right" %>
  <% end %>
</div>
