<div class="reply row" id="reply-<%= reply.id %>">
  <!-- TODO (Shimmy): Picture link -->
  <div class="reply-user row collapse">
    <div class="reply-display-member large-2 columns">
      <% if reply.user.photo %>
        <%= image_tag(reply.user.photo(:thumb)) %>
      <% end %>
    </div>
    <div class="reply-display-content large-10 columns">
      <p><%= link_to reply.user.decorate.full_name, reply.user %></p>
      <h6 class="timestamp">Posted <%= time_ago_in_words(reply.created_at) %> ago.</h6>
      <p><%= reply.content %></p>
    </div>
  </div>
</div>
