<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <style type="text/css">
      @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
    </style>
  </head>
  <body>
  <center>
    <table>
      <tr bgcolor="#34495E" style="height: 100px;">
        <td style="border-top-left-radius: 8px; border-top-right-radius: 8px; font-family: 'Lato', sans-serif; color: white; font-size: 200%; font-weight: 700; margin-left: 30px;">
          <div>
            <a href="http://ashby-staging.herokuapp.com/" target="_blank">
              <img src="http://ashby-prod.herokuapp.com/assets/ashby_village_icon-52a169f303c056f94dadd4635e3597c2424a5eb0d6436585f0fccb3c05492425.png" style="vertical-align: middle; width: 70px; margin: 0 30px 0 30px; text-decoration: none !important; text-decoration: none;"></a>Ashby Village Square
          </div>
        </td>
      </tr>

      <tr bgcolor="#F7F5F2" style="color: black !important;">
        <td>
          <center style="font-size: 230%; font-family: 'Lato', sans-serif; color: #EDC443;">
            <img src="https://i.imgsafe.org/197ec3a.png" style="width: 90px; margin: 30px 0 10px 0;">
            <br>Reminder: Event Tomorrow!
          </center>
        <div style="margin: 10px 50px 10px 50px;">
          <p style="font-size: 160%; font-family: 'Lato', sans-serif; color: black;">
            Dear <%= @user.decorate.full_name %>,
          </p>
          <p style="font-size:160%; font-family: 'Lato', sans-serif; color: black;">
          This is a reminder that you have RSVPed to <%= link_to @event.title, group_event_url(@group, @event), {:style=>'color:#4A90E2; text-decoration: none;'} %> hosted by <%= link_to @group.name, group_url(@group), {:style=>'color:#4A90E2; text-decoration: none;'} %>. Here are the event details:
          </p>
        </div>

        <div style="background: white; border-radius: 8px; padding: 40px; margin: 0 80px 0 80px">
          <ul style="margin: 0; padding: 0; font-size: 160%; font-family: 'Lato', sans-serif; list-style-type: none;">
            <p style="margin: 0 0 10px 0; font-size: 160%; color: black;"><%= @event.title %></p>
            <li style="color: #7F8C8D; margin: 0;"><%= @event.startdate.to_time.strftime('%B %e, %Y') %> - <%= @event.enddate.to_time.strftime('%B %e, %Y')%></li>
            <li style="color: #7F8C8D; margin: 0;"><%= @event.starttime.to_time.strftime('%l:%M %p') %> - <%= @event.endtime.to_time.strftime('%l:%M %p')%></li>
            <li style="color: #7F8C8D; margin: 0;"><%= @event.location %></li>
            <br>
            <li style="margin: 0;"><%= @event.description %></li>
          </ul>
        </div>

        <p style="text-align: center; font-size:160%; font-family: 'Lato', sans-serif; color: black;">See you there!</p>
        </td>
      </tr>

      <tr bgcolor="#34495E" style="height: 60px;">
        <td style="border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; font-family: 'Lato', sans-serif; color: white; font-size: 200%; font-weight: 700; margin-left: 30px;">
        </td>
      </tr>
      
    </table>
  </center>
  </body>
</html>

