<div id="login" class="reveal-modal login-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close-reveal-modal" aria-label="Close" >&#215;</a>
        <h2 class="modal-title" id="myModalLabel">Please log in to continue.</h2>
        <div> <h4>Don't have an account?
            <span class="click-register"> <%= link_to "Click here to register", new_user_registration_path %> </span> </h4>
        </div>
      </div></br>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <span class="login-form-error-msg"> Your password or email is incorrect. Please re-enter your information! </span>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, required: true %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", required: true %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Login", class: 'button success radius' %>
          </div>

          <!-- TODO: Forgot your password setup -->

        <% end %>
        <div><%= link_to "Forget your password?", "#", data: {toggle: "modal", target: "#myModal", :"reveal-id"=>"forgot-password"} %></div>
    </div>
  </div>
</div>
