<div class="events-group">
	<% @group.events.each do |event| %>
	  <a class="tile-link" href="<%= event_path(event) %>">
	  <div class="group-event-tile">
	      <h3><%= event.title %></h3>
	      <h6>Nature Walks</h6>
	      <div class="event-tile-icon small-4 large-4 large-uncentered column">
	        <p><%= image_tag("events_date.png") %> <%= event.startdate.strftime("%B %e, %Y") %> - <%= event.enddate.strftime("%B %e, %Y") %></p>
	      </div>
	      <div class="event-tile-icon small-4 large-4 large-uncentered column">
	        <p><%= image_tag("events_time.png") %> <%= event.starttime.strftime("%l:%M %p") %> - <%= event.endtime.strftime("%l:%M %p") %></p>
	      </div>
	      <div class="event-tile-icon small-4 large-4 large-uncentered column">
	        <p><%= image_tag("events_location.png") %> <%= event.location %></p>
	      </div>
	      <h6>Organizer(s)</h6>
		<div class="row">
		  <% if event.users.rsvps.include?(current_user) %>
		      <%= link_to event_cancel_path(event), method: :patch do %>
		      	<button class="is-attending"><span>You're Attending</span></button>
		      <% end %>
		  <% else %>
		      <%= link_to event_rsvp_path(event), method: :patch do %>
		      	<button class="event-joined">Click to RSVP</button>
		      <% end %>
		  <% end %>
		</div>
	  </div>
	  </a>
	<% end %>
</div>
