<%= link_to new_group_event_path(@group) do %>
<button class="small-12 create-event-mobile">Create New Event</button>
<% end %>

<div class="events-group">
	<% @group.events.each do |event| %>
	  <a class="tile-link" href="<%= group_event_path(@group, event) %>">
		<div class="group-event-tile columns">
	    <% if event.users.organizers.include?(current_user) %>
	      <div class="large-12 event-organizer">
	        <span><%= image_tag("events_you_organize.png") %>
	        <h6>You are an organizer of this event</h6></span>
	      </div>
	    <% end %>
	    
			<h3><%= event.title %></h3>
			<h6>Nature Walks</h6>
			<p class="event-tile-icon small-12 large-12 large-uncentered column">
				<%= image_tag("events_date.png") %> <%= event.startdate.strftime("%B %e, %Y") %> - <%= event.enddate.strftime("%B %e, %Y") %>
			</p>
			<p class="event-tile-icon small-12 large-12 large-uncentered column">
				<%= image_tag("events_time.png") %> <%= event.starttime.strftime("%l:%M %p") %> - <%= event.endtime.strftime("%l:%M %p") %>
			</p>
			<p class="event-tile-icon small-12 large-12 large-uncentered">
				<%= image_tag("events_location.png") %> <%= event.location %>
			</p>
    	<div class="event-tile-organizers">
			<h6>Organizers</h6>
	        <% event.users.organizers.first(2).each do |user| %>
	            <div class="event-tile-bio columns large-6 small-12 medium-12 left">
	              <% if user.photo %>
	                <div class="image-wrapper">
	                  <%= image_tag("organizer-icon.png", class: "event-organizer-icon") %>
	                  <%= image_tag(user.photo(:thumb), class: "event-organizer-photo") %>
	                </div>
	              <% end %>
	              <div class="organizer-bio">
			            <%= link_to user.decorate.full_name, user %><br>
			            <p><%= user.email %></p>
			            <p><%= user.phone %></p>
		            </div>
	            </div>
	        <% end %>
	    </div>
	    <div class="group-event-rsvp">
			<% if event.users.rsvps.include?(current_user) %>
				<%= link_to group_event_cancel_path(event.group, event), method: :patch do %>
						<button class="tile-is-attending large-4"><span>You're Attending</span></button>
				<% end %>
			<% else %>
				<%= link_to group_event_rsvp_path(event.group, event), method: :patch do %>
					<button class="tile-event-joined large-4">Click to RSVP</button>
				<% end %>
			<% end %>
		</div>
	  </div>
	  </a>
	<% end %>
</div>
