<% @groups.each do |group| %>
  <div class="group-tile row <%= group.neighborhood.gsub(" ", "-") %> group_id<%= group.id %> <%= group.state %>
    <% if group.users.exists?(current_user)%>
      <%= "my" %>
    <% end %>
    ">

    <% if group.users.leaders.include?(current_user) %>
      <div class="large-12 group-leader">
        <span><%= image_tag("groups_you_lead_icon.png") %>
        <h6>You are a leader of this group </h6></span>
      </div>
    <% end %>
    
      <div class="group-photo-container large-3">
          <%= image_tag group.photo, :class => "group-photo large-3 columns" %>
          <p>VISIT GROUP</p>
          <div class="black-cover"></div>
      </div>

      <div class="large-6 columns">
        <h3><%= group.name %></h3>
        <h6>Group in <%= group.neighborhood.upcase %></h6>
        <%= image_tag(("member_count_icon.png"), :class => "member-count-icon") %>

        <% if group.users.count == 1 %>
          <h6><%= group.users.count %> member </h6>
        <% else %>
          <h6><%= group.users.count %> members </h6>
        <% end %>

        <div class="member-display">
          <% group.users.last(3).each do |user| %>
 <span data-tooltip aria-haspopup="true" class="has-tip" title="<%= user.decorate.full_name %>"><%= image_tag(user.photo(:thumb)) %></span>
          <% end %>
        </div>
      </div>

      <% if group.users.include?(current_user) %>
          <button class="large-3 right is-member leader-<%= current_user.is_only_leader(group) %>" value="<%= group.id %>">You Have Joined</button>
      <% else %>
          <button class="large-3 right" value="<%= group.id %>">Join Group</button>
      <% end %>
  </div>

<% end %>

