<div class="row group-menu">
  <div class="click-new-post small-3 small-uncentered medium-3 columns">
    <span><%= image_tag("groups_bulletin.png")%> </span> <span id="hide_group_menu">Bulletin Board</span>
  </div>
  <div class="click-member-listing small-3 small-uncentered medium-3 columns">
    <span><%= image_tag("groups_members.png")%> </span> <span class="member" id="hide_group_menu"> Members (<%= group.user_groups.count %>)</span>
  </div>
  <div class="click-group-events small-uncentered small-3 medium-3 columns">
    <span><%=  %></span> <span id="hide_group_menu">Events</span>
  </div>
  <div class="click-group-settings small-uncentered <%= @group.users.include?(current_user)%> small-3 medium-3 columns">
    <span><%= image_tag("groups_settings.png") %></span> <span id="hide_group_menu">Settings</span>
  </div>
  <div class="click-events small-3 large-3 large-uncentered column" >
  	<p><%= image_tag("events_date.png") + "Events" %></p>
  </div>
</div>
