<div class="edit-group row">
<h2>Edit Group</h2>
  <div class="small-12 small-centered medium-10 large-10 column">
    <div class="edit-profile-form row">
      <%= form_for @group do |f| %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, value: @group.name %>
        </div>

        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description, autofocus: true, value: @group.description %>
        </div>

        <div class="field">
          <%= f.label 'Upload a new group photo' %>
          <img class="photoPreview" src="<%= @group.photo %>"> </img>
          <%= f.file_field :photo, autofocus: true, class: "uploadFile" %>
        </div>

        <div class="field">
          <%= f.label :kind %>
          <%= f.select(:kind, @kinds.reject {|i|  i == 'announcement' }, autofocus: true, value: @group.kind) %>
        </div>

        <div class="field">
          <%= f.label :neighborhood_id %>
          <%= f.select(:neighborhood_id, @neighborhoods, autofocus: true, value: @group.neighborhood_id) %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: 'button success radius small' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
