<div class="dropdowns-tile row">
  <h6>groups</h6>
  <h3> Show me
    <select class="group-dropdown large-3">
      <option selected="selected" value="all">all</option>
      <option value="true">my</option>
      <option value="social">social</option>
      <option value="neighborhood">neighborhood</option>
      <option value="committee">committee</option>
    </select>
    groups in
    <select class="neighborhood-dropdown large-4">
      <option selected="selected" value="all"> all </option>
      <%= @neighborhoods.each do |neighborhood| %>
        <option value=<%= neighborhood.id %>><%= neighborhood.name %></option>
      <% end %>
    </select>
    <span>neighborhoods</span>
  </h3>
  <h6 class="group-count large-6"></h6>
</div>

<% @groups.each do |group| %>

  <div class="group-tile row <%= group.neighborhood.id %> <%= group.kind %>">
    <%= link_to group do %>
    <div class="group-photo-container large-3">
        <%= image_tag group.photo, :class => "group-photo large-3 columns" %>
        <p>VISIT GROUP</p>
    </div>

    <div class="large-6 columns">
      <h3><%= group.name %></h3>
      <h6><%= group.kind.upcase %> group in <%= group.neighborhood.name.upcase %></h6>
      <%= image_tag(("member_count_icon.png"), :class => "member-count-icon") %>

      <% if group.users.count == 1 %>
        <h6><%= group.users.count %> member</h6>
      <% else %>
        <h6><%= group.users.count %> members</h6>
      <% end %>

      <div class="member-display">
        <% group.users.last(3).each do |user| %>
          <span data-tooltip aria-haspopup="true" class="has-tip" title="<%= user.decorate.full_name %>"><%= image_tag(user.photo(:thumb)) %></span>
        <% end %>
      </div>
    </div>

    <% if group.users.include?(current_user) %>
      <button class="large-3 right is-member">You Have Joined</button>
    <% else %>
      <button class="large-3 right">Join Group</button>
    <% end %>

  </div>
  <% end %>
<% end %>
