<h1>All groups</h1>

<script type="text/javascript">
  $(document).ready(function(){
    $('#mySel').change(function(){
      var value = $(this).val();
      $.get(neighborhoods)
      console.log(value);
      $('label').text(value);
    });
  });

</script>

<select id="mySel">
  <%= @neighborhoods.each do |nh| %>
    <option value="<%= nh.id %>"><%= nh.title %></option>
  <% end %>
</select>


<label for="mySel">Default</label>


<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.id %></td>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td><button>  <%=link_to 'Learn more', group %> </button><td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Create new group", new_group_path %>