<h1>All groups</h1>

<script type="text/javascript">
  $(document).ready(function(){
    var selectedKind = $('.selectKind').val();
    var selectedNeighborhood = $('.selectNeighborhoods').val();

    function groupList(selKind, selNeighborhood)

    $('.selectKind').change(function(){
      selectKind = $(this).val();
      $('table').show()
      if (selectKind != 'all' && selectedNeighborhood != 'all') {
        $('tr').not('.' + selectedNeighborhood, '.' + selectKind).hide()
      }
      else if (selectKind == 'all') {

      }
    });

    $('.selNeighborhoods').change(function(){
      selectedNeighborhood = $(this).val();
      $('table').show()
      $('tr').not('.' + selectedNeighborhood, '.' + selectKind).hide()
    });
  });
</script>



<select class="selectKind">
  <option selected="selected" value="all"> All </option>
    <option value='0'> Social </option>
    <option value='1'> Neighborhood </option>
    <option value='2'> Committee </option>
</select>

<select class="selectNeighborhoods">
  <option selected="selected" value="all"> All </option>
  <%= @neighborhoods.each do |neighborhood| %>
    <option value=<%= neighborhood %>><%= neighborhood.title %></option>
  <% end %>
</select>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr class='<%= group.neighborhood %> <%= group.kind %>'>
        <td><%= group.id %></td>
        <td><%= group.neighborhood.title %></td>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td><button>  <%=link_to 'Learn more', group %> </button><td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Create new group", new_group_path %>