<h1>All groups</h1>

<script type="text/javascript">
  $(document).ready(function(){
    var selectedKind = $('.selectKind').val();
    var selectedNeighborhood = $('.selectNeighborhoods').val();

    function groupList(selKind, selNeighborhood) {
      $('tr').show();
      if (selKind != 'all' && selNeighborhood != 'all') {
        $('tr').not('.' + selectedNeighborhood).hide();
        $('tr').not('.' + selectKind).hide();
      } else if (selKind == 'all' && selNeighborhood != 'all') {
        $('tr').not('.' + selectedNeighborhood).hide();
      } else if (selNeighborhood == 'all' && selKind != 'all') {
        $('tr').not('.' + selectKind).hide();
      }
    }

    $('.selectKind').change(function(){
      selectedKind = $(this).val();
      groupList(selectedKind, selectedNeighborhood);
    });

    $('.selectNeighborhoods').change(function(){
      selectedNeighborhood = $(this).val();
      groupList(selectedKind, selectedNeighborhood);
    });
  });
</script>



<select class="selectKind">
  <option selected="selected" value="all"> All </option>
    <option value='0'> Social </option>
    <option value='1'> Neighborhood </option>
    <option value='2'> Committee </option>
</select>

<select class="selectNeighborhoods">
  <option selected="selected" value="all"> All </option>
  <%= @neighborhoods.each do |neighborhood| %>
    <option value=<%= neighborhood.id %>><%= neighborhood.title %></option>
  <% end %>
</select>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr class='<%= group.neighborhood.id %> <%= group.kind %>'>
        <td><%= group.id %></td>
        <td><%= group.neighborhood.title %></td>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td><button>  <%=link_to 'Learn more', group %> </button><td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Create new group", new_group_path %>