<div class="dropdowns-tile row">
  <h6>All Groups</h6>
    Looking for a Group? Search here:
    <%= autocomplete_field_tag :group_search, '', autocomplete_group_name_groups_path, fields: {neighborhood: ':selected:last'} %>
     in
    <select class="neighborhood-dropdown large-4">
      <option selected="selected" value="all"> All Neighborhoods</option>
      <%= @neighborhoods.each do |neighborhood| %>
        <option value=<%= neighborhood.gsub(" ", "^") %>><%= neighborhood %></option>
      <% end %>
    </select>
  </h3>
  <h6 class="group-count large-6" mycount="<%= current_user.groups.count %>"></h6>
</div>

<%= render "groups/group_tiles" %>

<script>
$("#group_search").bind('railsAutocomplete.select', function(event, data){ 
  window.location = "<%= groups_path %>/" + data.item.id;
});
</script>
