<h1>All groups</h1>

<script type="text/javascript">
  $(document).ready(function(){
    $('#mySel').change(function(){
      var value = $(this).val();
      $('tr').show();
      if (value != 'all') {
        $('tr').not('.' + value).hide();
      }
    });
  });
</script>

<select id="mySel">
  <option selected="selected" value="all"> All </option>
  <%= @neighborhoods.each do |nh| %>
    <option value=<%= nh.id %>><%= nh.title %></option>
  <% end %>
</select>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr class='<%= group.neighborhood.id %>'>
        <td><%= group.id %></td>
        <td><%= group.neighborhood.title %></td>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td><button>  <%=link_to 'Learn more', group %> </button><td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Create new group", new_group_path %>