<h1>All groups</h1>

<script type="text/javascript">
  $(document).ready(function(){
    $.ajax({
      type: 'GET',
      url: 'groups/',
      success: function(data){
          alert(data);
          console.log(data);
      },
      dataType: 'json'
    });

    $('#mySel').change(function(){
      var value = $(this).val();
      console.log(value);
      $('label').text(typeof value);
      $.ajax({
        type: 'GET',
        url: 'groups/',
        data: {ide: value},
        success: function(data){

            console.log(data);
            for (var i = 0; i < data.length; i++) {
              var group = data[i];
            }
        },
        dataType: 'json'
      });
    });
  });

</script>

<select id="mySel">
  <option selected="selected" value="all"> All </option>
  <%= @neighborhoods.each do |nh| %>
    <option value=<%= nh.id %>><%= nh.title %></option>
  <% end %>
</select>


<label for="mySel">Default</label>

<body>
<ul></ul>
</body>


<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.id %></td>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td><button>  <%=link_to 'Learn more', group %> </button><td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Create new group", new_group_path %>