<div class="create-title">
<h2>Create New Group</h2>
<h4>Fill in the blanks below to create your new group. All fields are required.</h4>
</div>
  <%= form_for @group do |f| %>
  <div class="create-section row">
    Group Name <%= f.text_field :name, required: true, :placeholder => 'Example: Kensington Knitting Club' %>
    Group Description <%= f.text_area :description, required: true, :placeholder => 'What is your group about?' %>

    <div class="users-search">
      Additional Group Leaders
      <%= form_tag groups_path, method: :get do %>
        <div class="form-group">
          <%= text_field_tag :query, params[:query], class: 'form-control typeahead', id: "user_search", autocomplete: "on"%>
        </div>
      <% end %>
    </div>

    Group Cover Photo
    <div class="field">
      <%= image_tag :photo %>
      <p><i> Please upload a large image! Preferably at least 960 pixels wide. </i></p>
      <%= f.file_field :photo, required: true %>
    </div>
    Kind of Group <%= f.select(:kind, @kinds.reject {|i|  i == 'announcement' }, required: true) %>
    Neighborhood of Group <%= f.select(:neighborhood_id, @neighborhoods, required: true) %>
    <%= f.submit %>
    </div>
  <% end %>
