<div class="title">
  <h2>Create a New Group</h2>
  <h4 class="subtitle">Fill in the blanks below to create your new group. All fields are required.</h4>
</div>
  <%= form_for @group do |f| %>
    <div class="mobile-margins">
      <div class="create-section row">
        <%= content_tag :div, class: "group_names", data: {temp: @allnames} do %>
        <% end %>
        Group Name <div id="nameError" class="form-error-msg" > That group name has been taken. Please choose another name.</div>
        <%= f.text_field :name, required: true, :placeholder => 'Example: Kensington Knitting Club', id: 'new-group-name', onBlur: "validateGroupName('new-group-name');", onKeyUp: "fixGroupNameError('new-group-name');" %>
        Group Description <%= f.text_area :description, required: true, :placeholder => 'What is your group about?' %>
        Group Cover Photo
        <div class="field">
          <p><i> Please upload a large image! </i></p>
          <%= f.file_field :photo, required: true, class: "uploadFile" %>
          <%= image_tag(("empty_group.png"), class: "groupPhotoPreview") %>
        </div></br>
        Select Additional Group Leaders
        <div class="field" id="selected-group-leaders">
          <p><i>Start typing the names of your fellow group leaders and then select</i></p> <div id="groupLeaderError" class="form-error-msg" > Could not find user. Make sure they have an account and their name is typed correctly.</div>
          <%= autocomplete_field_tag :group_leaders, '', autocomplete_user_full_name_groups_path %>
          <%= hidden_field_tag 'selected_leaders' %>
        </div>
        Neighborhood of Group <%= f.select(:neighborhood, @neighborhoods, required: true) %>
        <%= f.submit %>
      </div>
    </div>
  <% end %>
