<div class="title">
  <h2>Create A New Group</h2>
  <h4 class="subtitle">Fill in the blanks below to create your new group. All fields are required.</h4>
</div>
  <%= form_for @group do |f| %>
    <div class="mobile-margins">
      <div class="create-section row">
        <%= content_tag :div, class: "group_names", data: {temp: @allnames} do %>
        <% end %>
        Group Name <div id="nameError" class="form-error-msg" > That group name has been taken. Please choose another name.</div>
        <%= f.text_field :name, required: true, :placeholder => 'Example: Kensington Knitting Club', id: 'new-group-name', onBlur: "validateName('new-group-name');", onKeyUp: "fixGroupNameError('new-group-name');" %>
        Group Description <%= f.text_area :description, required: true, :placeholder => 'What is your group about?' %>
        Group Cover Photo
        <div class="field">
          <p><i> Please upload a large image! Preferably at least 960 pixels wide. </i></p>
          <%= f.file_field :photo, required: true, class: "uploadFile" %>
          <%= image_tag(("empty_group.png"), class: "groupPhotoPreview") %>
        </div></br>
        Select Additional Group Leaders
        <div class="field" id="selected-group-leaders">
          <p><i>Start typing the names of your fellow group leaders to select</i></p>
          <%= autocomplete_field_tag :group_leaders, '', autocomplete_user_full_name_groups_path %>
          <%= hidden_field_tag 'selected_leaders' %>
        </div>
        Neighborhood of Group <%= f.select(:neighborhood, @neighborhoods, required: true) %>
        <%= f.submit %>
      </div>
    </div>
  <% end %>
<script>
var group_leader_ids = [];
// Function to remove selected leader
function remove_selected_leader(button) {
  var id = button.parentElement.id;
  button.parentElement.remove();
  index = group_leader_ids.indexOf(id);
  if(index > -1) {
    group_leader_ids.splice(index, 1);
  }
  $("#selected_leaders")[0].value = group_leader_ids;
};
// Function to add a selected leader
function add_selected_leader(name, id) {
  var div = document.createElement('div');
  div.innerHTML = name + '<div type="button" class="x-leader" onclick="remove_selected_leader(this)"><i class="fa fa-times fa-lg"></i></div>';
  div.id = id;
  div.className += ' selected-leader';
  return div;
}
// Function called when autocomplete has been selected
$("#group_leaders").bind('railsAutocomplete.select', function(event, data){
  // Add id's to array to pass to rails (hidden_field_tag?)
  group_leader_ids.push(data.item.id);
  // Set hidden field
  $("#selected_leaders")[0].value = group_leader_ids;
  // Blank autocomplete field
  $("#group_leaders")[0].value = "";
  // Add Selected Name to new visible field
  $("#selected-group-leaders")[0].appendChild(add_selected_leader(data.item.value, data.item.id));
});
</script>
