<div class="row">
  <div class="group-name"><% provide(:title, @group.name) %>
  </div>
<div class="row group-header">
  <% if @group.photo %>
    <%= image_tag(@group.photo(:medium)) %>
  <% end %>
  <div class="image-shadow">
    <h2><%= @group.name %></h2>
    <h6>GROUP IN <%= @neighborhood %></h6>
    <% if @group.users.leaders.include?(current_user) %>
      <%= link_to new_group_event_path(@group) do %>
        <button class="small-3 medium-4 large-3 right create-event">Create New Event</button>
      <% end %>
    <% elsif @group.users.include?(current_user) %>
      <button class="small-3 medium-4 large-3 right group-joined" disabled>You Have Joined</button>
    <% else %>
      <%= link_to join_group_path(@group.id), :controller => 'groups', :action => 'join' do %>
        <button id="join_group" value="join_group" class="small-3 large-3 right group-join">Join Group </button>
      <% end %>
    <% end %>
  </div>
</div>

<div id="menu-bar" \>
  <%= render 'groups/menu', group: @group %>
</div>

<div class="row">
  <div class="large-7 small-12 medium-8 left">
    <div class="group-new-post columns new-post"><%=
      if @group.users.include?(current_user)
        render 'posts/new'
      else
        render 'posts/non_member'
      end %>
    </div>
    <div class="group-posts">
      <%= render 'posts/index', posts: @posts, reply: @reply %>
    </div>
    <div class="group-member-listing" id="member-listing"><%= render 'groups/member_listing', group: @group%></div>
      <div class="group-settings" id="settings-group"><%= render 'groups/settings', group: @group %></div>
      <div class="group-events" id="events-group"><%= render 'groups/events', group: @group %></div>
  </div>
  <div class="large-5 small-12 medium-4 right">
    <div class="info-box">
      <%= render 'groups/info_box' %>
    </div>
  </div>

</div>
