  <!-- <h1>Groups#show</h1>
<p>Find me in app/views/groups/show.html.erb</p> -->
<% provide(:title, @group.name) %>

  <!-- TODO (Shimmy): Add photo functionality -->

<div class="row group-header">
  <% if @group.photo %>
    <%= image_tag @group.photo(:medium) %>
  <% end %>
  <div class="image-shadow">
    <h2><%= @group.name %></h2>
    <h6><%= @group.kind %> GROUP IN <%= @neighborhood.name%></h6>
  </div>
</div>

<!-- <%= link_to "View member listing", member_listing_group_path(@group) %> -->
<!-- TEMP: Comment out before GM -->
<!-- <%= render 'groups/settings' %> -->

<div class="row">
    <%= render 'posts/new' %>
    <%= render 'groups/info_box' %>
</div>
<div class="row">
  <div class="group-posts large-7 column">
    <%= render 'posts/index', posts: @posts, reply: @reply%>
  </div>
</div>


<% if current_user.is_leader(@group) %>
    <%= link_to 'Edit Group', edit_group_path, class: 'button success radius small' %>
<% end %>
