  <!-- <h1>Groups#show</h1>
<p>Find me in app/views/groups/show.html.erb</p> -->
<% provide(:title, @group.name) %>
<h6>
  <%= @group.name %>
  <%= @group.description %>
  <%= @group.kind %>
  <% @group.users.leaders.each do |leader| %>
    <li><%= leader.decorate.full_name %></li>
  <% end %>
  <%= @neighborhood.name%>
</h6>
  <!-- TODO (Shimmy): Add photo functionality -->

<% if @group.photo %>
  <%= image_tag @group.photo(:medium) %>
<% end %>

<%= link_to "View member listing", member_listing_group_path(@group) %>
<%= render 'groups/settings' %>

<div class="row">
    <%= render 'posts/new' %>
</div>
<div class="row">
    <%= render 'posts/index', posts: @posts %>
</div>


<% if current_user.is_leader(@group) %>
    <%= link_to 'Edit Group', edit_group_path, class: 'button success radius small' %>
<% end %>

