<!-- <h1>Groups#show</h1>
<p>Find me in app/views/groups/show.html.erb</p> -->
<% provide(:title, @group.name) %>
<h1>
  <%= @group.name %>
  <%= @group.description %>
  <%= @neighborhood.name%>
  <!-- TODO (Shimmy): Add photo functionality -->
  <% if @group.photo %>
    <%= image_tag @group.photo(:medium) %>
  <% end %>
</h1>

<%= link_to "View member listing", member_listing_path(@group) %>

<section class="post-form">
  <%= render 'posts/post_form', post: @post %>
</section>

<div class="col-md-8">
  <% if @group.posts.any? %>
    <h3>Posts (<%= @group.posts.count %>)</h3>
    <ol class="posts">
      <%= @group.posts.each do |post| %>
      <!-- TODO (Shimmy): Consider pagination! -->
        <%= render 'posts/post', post: post %>
      <% end %>
    </ol>
  <% end %>
</div>


