  <!-- <h1>Groups#show</h1>
<p>Find me in app/views/groups/show.html.erb</p> -->
<% provide(:title, @group.name) %>

  <!-- TODO (Shimmy): Add photo functionality -->

<div class="row group-header">
  <% if @group.photo %>
    <%= image_tag @group.photo(:medium) %>
  <% end %>
  <div class="image-shadow">
    <h2><%= @group.name %></h2>
    <h6><%= @group.kind %> GROUP IN <%= @neighborhood.name%></h6>
  </div>
</div>

<div class="grid">
  <div class="row group-menu">
    <div class="click-bulletin small-3 large-3 large-uncentered column">
      <p><%= image_tag("groups_bulletin.png") + "Bulletin Board" %></p>
    </div>
    <div class="click-member-listing small-3 large-3 large-uncentered column">
      <p><%= image_tag("groups_members.png") + "Members" %> (<%= @group.user_groups.count %>)</p>
    </div>
    <div class="click-group-settings small-3 large-3 large-uncentered column">
      <p><%= image_tag("groups_settings.png") + "Settings" %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="group-bulletin"><%= render 'posts/new' %></div>
  <div class="group-member-listing"><%= render 'groups/member_listing'%></div>
  <div class="group-settings"><%= render 'groups/settings' %></div>
  <%= render 'groups/info_box' %>
</div>
<div class="group-bulletin row">
  <div class="large-7 column">
    <%= render 'posts/index', posts: @posts %>
  </div>
</div>
