<div class="row">
<% if @user == current_user %>
  <div class="user-info small-12 large-7 columns">
<% else %>
  <div class="user-info small-12 columns">
<% end %>
    <h6>NAME</h6> <h4> <%= @user.full_name %> </h4>
    <% if @user == current_user %>
      <h6>EMAIL</h6> <h4> <%= @user.email%> </h4>
    <% else %>
      <h6>EMAIL</h6> <h4> <%= mail_to @user.email%> </h4>
    <% end %>
    <h6>PHONE</h6> <h4> <%= @user.phone %> </h4>

    <% if @user == current_user %>
      <%= link_to 'Edit Profile', edit_user_path %>
    <% end %>
  </div>

<% if @user == current_user %>
  <div class="create-group small-12 large-5 columns">
    <h6>CREATE A GROUP</h6>
    <%= link_to new_group_path do %>
      <button> Create New Group </button>
    <% end %>
    <p>Click the button above to make a new group!</p>
  </div>
<% end %>
</div>
