<div class="row text-center">
  <div class="header small-11 small-centered large column">
    <%= image_tag(@user.photo(:thumb)) %>
    <h2><%= @user.full_name %></h2>
  </div>
</div>

<div class = "row">
  <div class="row menu">
      <% if @user == current_user %>
        <div class="click-info small-3 small-uncentered medium-4 column">
          <p><i class="fa fa-list-alt fa-2x"></i><span class="menu-text">Your Information</span></p>
        </div>
        <div class="click-groups small-3 small-uncentered medium-4 column">
          <p><%= image_tag("groups_you_lead_icon.png") %><span class="menu-text">Groups You Lead</span></p>
        </div>
      <% else %>
        <div class="click-info small-3 small-uncentered medium-4 column">
          <p><i class="fa fa-list-alt fa-2x"></i><span class="menu-text"><%= @user.first_name %>'s Information</span></p>
        </div>
        <div class="click-groups small-3 small-uncentered medium-4 column">
          <p><%= image_tag("groups_you_lead_icon.png") %><span class="menu-text">Groups <%= @user.first_name %> Leads</span></p>
        </div>
      <% end %>
    </div>
  <div class="info">
    <%= render "users/info" %>
  </div>
  <div class="groups-leading">
    <%= render "users/groups_leading" %>
  </div>
</div>
