<div class="title">
  <h2>Edit Your Event <%= link_to @event.title, group_event_path(id: @event.id) %></h2>
</div>
  <%= form_for [@event.group, @event] do |f| %>
    <div class="mobile-margins">
      <div class="create-section row">
        Event Name <%= f.text_field :title, required: true, :placeholder => 'Example: Baked Goods Fundraiser' %>
        Event Description <%= f.text_area :description, required: true, :placeholder => 'What is your event about?' %>
        Event Date and Time<br>
          <div class="startdate_errors"> Your event cannot start in the past! </div>
        <div class="enddate_errors"> Your event cannot end before it begins or in the past! </div>
          <div class="start"><p><i>Start</i></p>
          <%= f.date_field :startdate, required: true, onBlur: "validateEventStart(); validateEventEnd();", :placeholder => '03/25/16' %>
          <%= f.time_field :starttime, required: true, onBlur: "validateEventStart(); validateEventEnd();", :placeholder => '10:00AM' %>
          </div>
          <div class="end"><p><i>End</i></p>
          <%= f.date_field :enddate, required: true, onBlur: "validateEventStart(); validateEventEnd();", :placeholder => '03/25/16' %>
          <%= f.time_field :endtime, required: true, onBlur: "validateEventStart(); validateEventEnd();", :placeholder => '03:00PM' %>
          </div><br>
          Repeat Event <i>(select one)</i><br>
          <%= f.check_box :repeat_weekly %> Once a week <br>
          <%= f.check_box :repeat_monthly %> Once a month <br>
        Event Location <%= f.text_field :location, required: true, :placeholder => 'Type a place or address' %>
        <%= f.check_box :gmap %> Include Maps Link <br>
        Event Capacity <%= f.number_field :capacity, min: 1, required: false, placeholder: 'Leave blank if no limit to number of attendees' %>
        Select Event Organizers
        <div class="field" id="selected-event-organizers">
          <p><i>Start typing the names of your fellow organizers and then select</i></p> <div id="organizerError" class="form-error-msg" > Could not find user. Make sure they have an account and their name is typed correctly.</div>
          <%= autocomplete_field_tag :organizers, '', autocomplete_user_full_name_groups_path %>
          <%= hidden_field_tag 'selected_organizers' %>
        </div>
        <%= f.submit %>
      </div>
    </div>
  <% end %>
<script>
event_organizer_ids = [<%= raw ('"' + @event.users.organizers.map(&:id).join('","') + '"') %>];

var initial_event_organizer_names = <%= raw @event.users.organizers.map(&:full_name) %>;
for (i = 0; i < event_organizer_ids.length; i++) { 
  $("#selected-event-organizers")[0].appendChild(add_selected_organizer(initial_event_organizer_names[i], event_organizer_ids[i]));
}
$("#selected_organizers")[0].value = event_organizer_ids;
</script>

