<div class="my-events row">
  <h3>My Events</h3>
</div>

<% @events.each do |event| %>
  <a class="tile-link" href="<%= group_event_path(event.group, event) %>">
  <div class="event-tile row">
    <div class="large-8 columns">
      <h3 class="event-tile-title"><%= event.title %></h3>
      <h6 class="event-tile-group">Nature Walks</h6>
      <div class="event-tile-icon small-7 large-7 large-uncentered column">
        <p><%= image_tag("events_date.png") %> <%= event.startdate.strftime("%B %e, %Y") %> - <%= event.enddate.strftime("%B %e, %Y") %></p>
      </div>
      <div class="event-tile-icon small-5 large-5 large-uncentered column">
        <p><%= image_tag("events_time.png") %> <%= event.starttime.strftime("%l:%M %p") %> - <%= event.endtime.strftime("%l:%M %p") %></p>
      </div>
      <div class="event-tile-icon small-6 large-6 large-uncentered">
        <p><%= image_tag("events_location.png") %> <%= event.location %></p>
      </div>
    </div>
    <% if event.users.rsvps.include?(current_user) %>
        <%= link_to group_event_cancel_path(event.group, event), method: :patch do %>
          <button class="tile-is-attending large-4"><span>You're Attending</span></button>
        <% end %>
    <% else %>
        <%= link_to group_event_rsvp_path(event.group, event), method: :patch do %>
          <button class="tile-event-joined large-4">Click to RSVP</button>
        <% end %>
    <% end %>
    <div class="event-tile-organizers columns">
    <h6>Organizer(s)</h6>
        <div class="row">
        <% event.users.organizers.first(3).each do |user| %>
            <div class="event-tile-bio columns large-4 left">
              <% if user.photo %>
                <div class="image-wrapper">
                  <%= image_tag("organizer-icon.png", class: "event-organizer-icon") %>
                  <%= image_tag(user.photo(:thumb), class: "event-organizer-photo") %>
                </div>
              <% end %>
            <%= link_to user.decorate.full_name, user %><br>
            <h7><%= user.email %></h7><br>
            <h7><%= user.phone %></h7><br>
          </div>
        <% end %>
        </div>
    </div>
  </div>
  </a>
<% end %>
