<div class="my-events row">
  <h3>My Events</h3>
</div>

<% @events.each do |event| %>
  <a class="tile-link" href="<%= group_event_path(event.group, event) %>">
  <div class="event-tile-margin">
    <div class="event-tile row">
      <div class="small-12 medium-7 large-8 left">
        <div class="columns">
          <h3 class="event-tile-title"><%= event.title %></h3>
          <h6 class="event-tile-group">Nature Walks</h6>
          <p class="event-tile-icon small-12 large-12 large-uncentered column">
            <%= image_tag("events_date.png") %> <%= event.startdate.strftime("%B %e, %Y") %> - <%= event.enddate.strftime("%B %e, %Y") %>
          </p>
          <p class="event-tile-icon small-12 large-6 large-uncentered column">
            <%= image_tag("events_time.png") %> <%= event.starttime.strftime("%l:%M %p") %> - <%= event.endtime.strftime("%l:%M %p") %>
          </p>
          <p class="event-tile-icon small-12 large-6 large-uncentered column">
            <%= image_tag("events_location.png") %> <%= event.location %>
          </p>
        </div>
      </div>

      <div class="small-12 medium-5 large-4 right rsvp-button">
        <div class="columns">
          <div class="event-settings">
          <% if event.users.rsvps.include?(current_user) %>
              <%= link_to group_event_cancel_path(event.group, event), method: :patch do %>
                <button class="is-attending"><span>You're Attending</span></button>
              <% end %>
          <% else %>
            <%= link_to group_event_rsvp_path(event.group, event), method: :patch do %>
              <button class="event-joined">Click to RSVP</button>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="event-tile-organizers">
        <h6>Organizer(s)</h6>
          <% event.users.organizers.first(3).each do |user| %>
            <div class="columns large-4 small-12 medium-12 left">
            <% if user.photo %>
              <div class="image-wrapper">
                <%= image_tag("organizer-icon.png", class: "event-organizer-icon") %>
                <%= image_tag(user.photo(:thumb), class: "event-organizer-photo") %>
              </div>
            <% end %>
            <div class="organizer-bio">
              <%= link_to user.decorate.full_name, user %><br>
              <p><%= user.email %></p>
              <p><%= user.phone %></p><br>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  </a>
<% end %>
