<div class="create-title">
  <h2>Create A New Event for <%= link_to @group.name, group_path(@group) %></h2>
  <h4 class="create-subtitle">Fill in the blanks below to create your new event. All fields are required.</h4>
</div>
  <%= form_for [@group, @event] do |f| %>
  <div class="create-section row">
    Event Name <%= f.text_field :title, required: true, :placeholder => 'Example: Baked Goods Fundraiser' %>
    Event Description <%= f.text_area :description, required: true, :placeholder => 'What is your event about?' %>
    Event Date and Time<br>
      <div class="start"><p><i>Start</i></p>
      <%= f.date_field :startdate, required: true, :placeholder => '03/25/16' %>
      <%= f.time_field :starttime, required: true, :placeholder => '10:00AM' %>
      </div>
      <div class="end"><p><i>End</i></p>
      <%= f.date_field :enddate, required: true, :placeholder => '03/25/16' %>
      <%= f.time_field :endtime, required: true, :placeholder => '03:00PM' %>
      </div><br>
      Repeat Event <i>(select one)</i><br>
      <%= f.check_box :repeat_weekly %> Once a week <br>
      <%= f.check_box :repeat_monthly %> Once a month <br>
    Event Location <%= f.text_field :location, required: true, :placeholder => 'Type a place or address' %>
    <%= check_box_tag :gmap, "0" %> Include Maps Link <br>
    Event Capacity <%= f.number_field :capacity, min: 1, required: false, value: nil, placeholder: 'Leave blank if no limit to number of attendees' %>
    Select Event Organizers
    <div class="field" id="selected-event-organizers">
      <p><i>Start typing the names of your fellow group leaders to select</i></p>
      <%= autocomplete_field_tag :organizers, '', autocomplete_user_full_name_groups_path %>
      <%= hidden_field_tag 'selected_organizers' %>
    </div>
    <%= f.submit %>
    </div>
  <% end %>
<script>
var group_leader_ids = [];
// Function to remove selected leader
function remove_selected_leader(button) {
  var id = button.parentElement.id;
  button.parentElement.remove();
  index = group_leader_ids.indexOf(id);
  if(index > -1) {
    group_leader_ids.splice(index, 1);
  }
  $("#selected_organizers")[0].value = group_leader_ids;
};
// Function to add a selected leader
function add_selected_leader(name, id) {
  var div = document.createElement('div');
  div.innerHTML = name + '<button type="button" onclick="remove_selected_leader(this)"> x </button>';
  div.id = id;
  return div;
}
// Function called when autocomplete has been selected
$("#organizers").bind('railsAutocomplete.select', function(event, data){
  // Add id's to array to pass to rails (hidden_field_tag?)
  group_leader_ids.push(data.item.id);
  // Set hidden field
  $("#selected_organizers")[0].value = group_leader_ids;
  // Blank autocomplete field
  $("#organizers")[0].value = "";
  // Add Selected Name to new visible field
  $("#selected-event-organizers")[0].appendChild(add_selected_leader(data.item.value, data.item.id));
});
</script>

