<div class="title" id="event_new" value="true">
  <h2>Create a New Event For <%= link_to @group.name, group_path(@group) %></h2>
  <h4 class="subtitle">Fill in the blanks below to create your new event. All fields are required.</h4>
</div>
  <%= form_for [@group, @event] do |f| %>
    <div class="mobile-margins">
      <div class="create-section row">
        Event Name <%= f.text_field :title, required: true, :placeholder => 'Example: Baked Goods Fundraiser' %>
        Event Description <%= f.text_area :description, required: true, onBlur: "validateEventStart();", :placeholder => 'What is your event about?' %>
        Event Date and Time<br>
        <div class="startdate_errors"> Your event cannot start in the past! </div>
        <div class="enddate_errors"> Your event cannot end before it begins or in the past! </div>
        <div class="start"><p><i>Start</i></p>
        <%= f.date_field :startdate, required: true, onBlur: "validateEventStart();", onBlur: "validateEventEnd();", :placeholder => '03/25/16' %>
        <%= f.time_field :starttime, required: true, onBlur: "validateEventStart();", onBlur: "validateEventEnd();", :placeholder => '10:00AM' %>
        </div>
        <div class="end"><p><i>End</i></p>
        <%= f.date_field :enddate, required: true, onBlur: "validateEventStart();", onBlur: "validateEventEnd();", :placeholder => '03/25/16' %>
        <%= f.time_field :endtime, required: true, onBlur: "validateEventStart();", onBlur: "validateEventEnd();", :placeholder => '03:00PM' %>
        </div><br>
        Repeat Event <i>(select one if repeating)</i><br>
        <%= f.check_box :repeat_weekly %> Once a week <br>
        <%= f.check_box :repeat_monthly %> Once a month <br>
        Event Location <%= f.text_field :location, required: true, :placeholder => 'Where is your event held?' %>
        <%= check_box_tag :gmap, "0" %> Check to include Google Maps link <br>
        Maximum Attendees (optional) <%= f.number_field :capacity, min: 1, required: false, value: nil, placeholder: 'What is the maximum number of attendees?' %>
        Select Additional Event Organizers
        <div class="field" id="selected-event-organizers">
          <p><i>Start typing the names of your fellow group leaders to select</i></p>
          <%= autocomplete_field_tag :organizers, '', autocomplete_user_full_name_groups_path %>
          <%= hidden_field_tag 'selected_organizers' %>
        </div>
        <%= f.submit %>
        </div>
      </div>
  <% end %>
<script>
var group_leader_ids = [];
// Function to remove selected leader
function remove_selected_leader(button) {
  var id = button.parentElement.id;
  button.parentElement.remove();
  index = group_leader_ids.indexOf(id);
  if(index > -1) {
    group_leader_ids.splice(index, 1);
  }
  $("#selected_organizers")[0].value = group_leader_ids;
};
// Function to add a selected leader
function add_selected_leader(name, id) {
  var div = document.createElement('div');
  div.innerHTML = name + '<div type="button" class="x-leader" onclick="remove_selected_leader(this)"><i class="fa fa-times fa-lg"></i></div>';
  div.id = id;
  div.className = " selected-leader";
  return div;
}
// Function called when autocomplete has been selected
$("#organizers").bind('railsAutocomplete.select', function(event, data){
  // Add id's to array to pass to rails (hidden_field_tag?)
  group_leader_ids.push(data.item.id);
  // Set hidden field
  $("#selected_organizers")[0].value = group_leader_ids;
  // Blank autocomplete field
  $("#organizers")[0].value = "";
  // Add Selected Name to new visible field
  $("#selected-event-organizers")[0].appendChild(add_selected_leader(data.item.value, data.item.id));
});
</script>

