<div class="row event-header">
	<h3><%= link_to @event.group.name, group_path(@event.group) %> invites you to...</h3>
	<h2><%= @event.title %></h2>
</div>

<div class="row">
	<%= render 'events/menu' %>
</div>

<div class="row event-left">
	<div class="small-12 medium-7 large-8 left">
		<div class="event-details">
			<div class="row">
				<div class="event-icon small-12 medium-12 large-12 columns">
				<p><%= image_tag("events_date.png") %> <%= @event.startdate.strftime("%B %e, %Y") %> - <%= @event.enddate.strftime("%B %e, %Y") %></p>
				</div>
				<div class="event-icon small-12 medium-6 large-6 columns">
				<p><%= image_tag("events_time.png") %> <%= @event.starttime.strftime("%l:%M %p") %> - <%= @event.endtime.strftime("%l:%M %p") %></p>
				</div>
				<div class="event-icon small-12 medium-6 large-6 columns">
				<p><%= image_tag("events_location.png") %> <%= @event.location %>
	        <% if @event.gmap %>
	          <br>
	          <%= link_to "See the map", ("https://www.google.com/maps/place/" + @event.location), :target => '_blank' %>
	        <% end %>
	      </p>
				</div>
			</div>

			<div class="row event-description">
				<h6>Description</h6>
				<p><%= @event.description %></p>
			</div>
		</div>

	<div class="new-post event-post mobile-margins">
		<%= render 'posts/new'%>
	</div>
	<div class="group-posts event-post mobile-margins">
	  <%= render 'posts/index', posts: @posts, reply: @reply %>
	</div>
	</div>

	<div class="small-12 medium-5 large-4 right">
		<div class="columns rsvp-button">
		  <% if @event.users.rsvps.include?(current_user) %>
	      <%= link_to group_event_cancel_path(@group, @event), method: :patch do %>
	      	<button class="is-attending"><span>You're Attending</span></button>
	      <% end %>
		  <% else %>
			  <% if !@event.capacity.nil? and @event.capacity <= @event.users.rsvps.count %>
          <button class="event-full" value="<%= @event.id %>">Event has reached capacity</button>
        <% else %>
		      <%= link_to group_event_rsvp_path(@group, @event), method: :patch do %>
		      	<button class="event-joined">Click to RSVP</button>
		      <% end %>
		    <% end %>
		  <% end %>
		</div>

		 <div class="columns">
			 <div class="event-organizers">
				<h6>Event Organizer(s)</h6>
				<% @event.users.organizers.each do |user| %>
			      <% if user.photo %>
			        <div class="image-wrapper">
			          <%= image_tag("organizer-icon.png", class: "event-organizer-icon") %>
			          <%= image_tag(user.photo(:thumb), class: "event-organizer-photo") %>
			        </div>
			      <% end %>
              <div class="organizer-bio">
		            <%= link_to user.decorate.full_name, user %><br>
		            <p><%= user.email %></p>
		            <p><%= user.phone %></p><br>
	            </div>
			    <% end %>
			</div>
		 </div>

		 <div class="columns">
		 	<div class="event-attendance">
		 	<h6>Who is Attending?</h6>
		 		<%= link_to group_event_attendance_path(@group, @event), method: :get do %>
		 			<button class="attendance-button is-member">See Who's Attending</button>
		 		<% end %>
		 		<% if !@event.capacity.nil? %>
		 			<p><%= @event.capacity - @event.users.rsvps.count %> spot(s) available.</p>
		 		<% end %>
		 	</div>
		 </div>
    <div class="event-settings">
      <div class="columns">
        <%= link_to edit_group_event_path(@group, @event), method: :get do %>
          <button class="event-joined"><span>Edit Event</span></button>
        <% end %>
      </div>

      <div class="columns">
        <div class="delete-event-button">
          <%= link_to group_event_path(@group, @event), method: :delete do %>
            <button class="delete-event"><span>Delete Event</span></button>
          <% end %>
        </div>
      </div>
    </div>
	</div>
</div>
