<div class="post row collapse" id="post-<%= post.id %>">
  <!-- TODO (Shimmy): Picture link -->
  <div class="post-user row collapse">
    <div class="post-display-member large-2 columns">
      <% if current_user.is_leader(@group) %>
      <div class="imageWrapper">
        <%= image_tag("leader-icon.png", class: "group-leader-icon") %>
        <%= image_tag(current_user.photo(:thumb), class: "group-leader-photo") %>
      </div>
      <% else %>
        <%= image_tag(post.user.photo(:thumb)) %>
      <% end %>
    </div>
    <div class="large-10 columns">
      <% if current_user.id == post.user.id or current_user.admin? or current_user.is_leader(@group) %>
        <%= link_to "Delete", post_path(post.id), method: :delete, data: { confirm: 'Are you sure you want to delete your post?' }, class: "delete" %>
      <% end %>
      <p><%= link_to post.user.decorate.full_name, post.user %></p>
      <h6 class="timestamp"><i> Posted <%= time_ago_in_words(post.created_at) %> ago. </i></h6>
    </div>
  </div>
  <div class="row collapse">
    <h4><strong><%= post.title %></strong></h4>
    <p><%= post.content %></p>
  </div>
</div>

<%= render 'replies/index', replies: post.replies %>

<div class="new-reply row collapse">
    <%= render 'replies/new', post: post, reply: reply %>
</div>
