<div class="post row collapse" id="post-<%= post.id %>">
  <!-- TODO (Shimmy): Picture link -->
  <div class="post-user row collapse">
  <h2><%= post.id %>
    <div class="post-display-member large-2 columns">
      <% if post.user.photo %>
        <%= image_tag(post.user.photo(:thumb)) %>
      <% end %>
    </div>
    <div class="large-10 columns">
      <p><%= link_to post.user.decorate.full_name, post.user %></p>
      <h6 class="timestamp"><i> Posted <%= time_ago_in_words(post.created_at) %> ago. </i></h6>
    </div>
  </div>
  <div class="row collapse">
    <h4><strong><%= post.title %></strong></h4>
    <p><%= post.content %></p>
  </div>
</div>

<div class="row">
    <%= render 'replies/index', replies: post.replies.order_by_created_at, post_id: post.id %>
</div>
<div class="row">
    <%= render 'replies/new', post: post, reply: reply %>
</div>
