<h1>Create New</h1>
  <%= form_for @neighborhood do |f| %> 
    Name: <%= f.text_field :title %> 
    Description: <%= f.text_field :text %>
    Location: <%= f.text_field :location %>

    <%= f.submit %> 
  <% end %>


