<!-- <h1>Groups#index</h1>
<p>Find me in app/views/groups/index.html.erb</p> -->
<h1>All groups in <%= @neighborhood.title %></h1>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @neighborhood.groups.each do |group| %>
      <tr>
        <td><%= group.id %></td>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td><button>  <%=link_to 'Learn more', neighborhood_group_path(@neighborhood, group) %> </button><td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Create new group", new_neighborhood_group_path(@neighborhood) %>
