<%= render "users/sessions/new" %>
<%= render "users/passwords/new" %>

<div class="contain-to-grid sticky">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="home left">
      <%= link_to image_tag("ashby_village_icon.png"), root_path %>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <!-- if user signed in, show profile, account settings, and sign out button -->
          <li class="my-tab">
            <a href="<%= group_events_path(current_user.id) %>">
              <i class="fa fa-calendar fa-lg"></i>
              My Events
            </a>
          </li>
          <li class="my-tab">
            <a href="<%= my_index_groups_path(current_user.id) %>">
              <i class="fa fa-users fa-lg"></i>
              My Groups
            </a>
          </li>
          <li class="my-profile has-dropdown not-click">
            <%= link_to image_tag(current_user.photo(:thumb)) + current_user.full_name, current_user %>
            <ul class="dropdown">
              <li><%= link_to "Your Profile", current_user %></li>
              <li><%= link_to "Account Settings", account_settings_path(current_user) %></li>
              <% if current_user.admin? %>
                <li><%= link_to "Administrator Dashboard", rails_admin_path %></li>
              <% end %>
              <li><%= link_to "Help Page", help_path(current_user) %></li>
              <li><%= link_to "Logout", destroy_user_session_path, :method =>   :delete %></li>
           </ul>
          </li>
        <% else %>
          <!-- if user not signed in, show these links -->
          <li><%= link_to "Member Login", "#", data: {toggle: "modal", target: "#myModal", :"reveal-id"=>"login"}, id: "login-button" %></li>
          <li><%= link_to "Help Page", help_path(current_user) %></li>
        <% end %>
      </ul>
    </ul>
  </section>
</nav>
</div>
