<%= render "users/sessions/new" %>

<div class="contain-to-grid sticky">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="home left">
      <%= link_to image_tag("ashby_village_icon.png"), root_path %>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
<<<<<<< HEAD
          <li><%= link_to "My Groups",   '#' %></li>
          <li><%= link_to "Neighborhoods",  '#' %></li>
          <li><%= link_to "My Profile", current_user %></li>
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
=======
          <!-- if user signed in, show profile, account settings, and sign out button -->
          <li class="my-groups">
            <%= link_to image_tag("groups_icon.png") + "My Groups", '#' %>
          </li>
          <li class="my-profile has-dropdown not-click">
            <%= link_to image_tag(current_user.photo(:thumb)) + current_user.full_name, current_user %>
            <ul class="dropdown">
              <li><a href="#"><%= link_to "Your Profile", current_user %></a></li>
              <li><a href="#"><%= link_to "Account Settings", edit_user_password_path %></a></li>
              <li><a href="#"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></a></li>
            </ul>
          </li>
>>>>>>> master
        <% else %>
          <!-- if user not signed in, show these links -->
          <li><%= link_to "About", '#' %></li>
          <li><%= link_to "Member Login", "#", data: {toggle: "modal", target: "#myModal", :"reveal-id"=>"login"} %></li>
        <% end %>
      </ul>
    </ul>
  </section>
</nav>
</div>
