<%= render "users/sessions/new" %>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="home">
      <%= link_to "Ashby Village", root_path %>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <ul class="nav navbar-nav navbar-right">
        <!-- if user signed in, show profile, account settings, and sign out button -->
        <% if user_signed_in? %>
          <li><%= link_to "My Groups",   '#' %></li>
          <li><%= link_to "Neighborhoods",  '#' %></li>
          <li><%= link_to "My Profile", current_user %></li>
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <!-- if user not signed in, show these links -->
          <li><%= link_to "About", '#' %></li>
          <li><%= link_to "Member Login", "#", data: {toggle: "modal", target: "#myModal", :"reveal-id"=>"login"} %></li>
        <% end %>
      </ul>
    </ul>
  </section>
</nav>
