<div class="edit-settings row">
<h2>Edit Account Settings</h2>
  <div class="small-12 small-centered medium-10 large-10 column">
    <div class="change-password-form row">
      <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

            <h3>Change My Password</h3>

            <div><%= f.label :new_password %>
                <%= f.password_field :new_password, autocomplete: "off", placeholder: "What's your new password?" %></div>

            <div><%= f.label :new_password_confirmation %>
                <%= f.password_field :new_password_confirmation, autocomplete: "off", placeholder: "Re-type your new password just to make sure it's 100% correct." %></div>

            <div><%= f.label :current_password %>
                <%= f.password_field :current_password, autocomplete: "off", placeholder: "We need your current password to confirm your changes." %></div>

            <%= f.submit "Update", class: 'button success radius small' %>
      <% end %>
    </div>
  </div>
</div>
