<!-- NOT WORKING! Data is not prepopulating from db.  And the controller doesn't have the submitted information go anywhere. -->

<h2>Edit Profile</h2>

<%= form_for(@user) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: 'button successs radius small' %>
  </div>

<% end %>

<%= link_to 'Back', :back %>
