<div class="row edit-settings">

<h2>Edit Account Settings</h2>

  <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="row change-password">
      <h3 class="">Change my password</h3>

      <div class="settings-field column small-6 large-12"><%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %></div>

      <div class="settings-field column small-6 large-12"><%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

      <div class="settings-field column small-6 large-12"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "off" %></div>

      <div class="update-settings column">
        <%= f.submit "Update", class: 'button success radius small' %>
      </div>
    </div>
  <% end %>
</div>
