<div class="edit-profile row">
  <div class="title">
    <h2>Edit Your Profile</h2>
  </div>

    <div class="edit-profile-form row">
      <%= form_for(resource, as: resource_name, url: user_path(@user), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          First Name
          <%= f.text_field :first_name, autofocus: true, value: @user.first_name %>
        </div>

        <div class="field">
          Last Name
          <%= f.text_field :last_name, autofocus: true, value: @user.last_name %>
        </div>

        <div class="field">
          Email
          <%= f.email_field :email, autofocus: true, value: @user.email %>
        </div>

        <div class="field">
          Phone Number
          <%= f.text_field :phone, autofocus: true, value: @user.phone, class: 'phone' %>
        </div>

        <div class="field">
          Bio
          <p><i>Write a little something about yourself for others to get to know you:</i></p>
          <%= f.text_area :bio, autofocus: true, value: @user.bio %>
        </div>

        <div class="field">
          Profile Picture<br>
          <p style='float:left;'><i>Upload an image of yourself so that others can recognize you!</i></p>
          <div class="upload-pic">
            <i class="fa fa-camera fa-2x"><h5 class="photo-upload"><b>Upload photo</b></h5></i>
            <%= image_tag((@user.photo), class: "photoPreview") %>
            <%= f.file_field :photo, class: 'uploadFile' %>
          </div>
        </div><br/>

        <div class="column actions">
          <%= f.submit "Update", class: 'button' %>
        </div>

      <% end %>
    </div>
</div>
