<div class="user-registration">
<div class='row res' title='<%= @resubmit %>'>
  <div class="row">
    <div class="" style="float: right; padding:10px;">
      <%= link_to "Cancel Registration", root_path, :class => 'cancel'%>
    </div>
  </div>
  <h2 class="modal-title small-12 small-centered medium-10 large-8 column" id="myModalLabel">Create an Account</h2>
</div>
<%= form_for(resource, as: resource_name, url: user_registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= content_tag :div, class: "temp_emails", data: {temp: @allemails} do %>
  <% end %>

  <div class='row'>
    <div class='instructions small-12 small-centered medium-10 large-8 column'>
      <h5>Fill in the blanks to complete your registration for Ashby Village Square. </br>
      No information will be shared without your consent.</h5>
    </div>
  </div></br>

  <div class='row'>
    <div class='field small-12 small-centered medium-10 large-8 column'>
      <h5 class='question'>My name is </h5>
      <div class='input-form' style='float: left; margin-right: 10px'> <%= f.text_field :first_name, required: true, placeholder: 'First Name', class: 'input', id: 'first_name', autofocus: true %> </div>

      <div class='input-form'> <%= f.text_field :last_name, required: true, placeholder: 'Last Name', class: 'input', id: 'last_name' %> </div>
    </div>
  </div>

  <div class='row'>
    <div class='field small-12 small-centered medium-10 large-8 column'>
      <div class='emailError form-error-msg'>
        You have entered an invalid email address.
      </div>
      <div class='email-taken form-error-msg'>
        There is already an account with this email address.
      </div>
      <h5 class='question'>and my email address is </h5>
      <div class='input-form'> <%= f.email_field :email, required: true, placeholder: 'email@address.com', class: 'input', id: 'email', onBlur: "validateEmail('email');", onkeyup: "onFixedEmailError('email');" %> </div>
    </div>
  </div>

  <div class='row'>
    <div class='field small-12 small-centered medium-10 large-8 column'>
    <div class="password_error"> Please re-enter your password and confirmation. Make sure they match! </div>
      <h5 class='question'>I would like my password to be </h5>
      <div class='input-form'> <%= f.password_field :password, required: true, autocomplete: "off", placeholder: 'something memorable', class: 'input', id: 'pass', onkeyup: 'passwordMatching();'%> </div>
    </div>
  </div>

  <div class='row'>
    <div class='field small-12 small-centered medium-10 large-8 column'>
      <div class='password_mismatch form-error-msg'>
        Password and password confirmation don't match!
      </div>
      <h5 class='question'>Just to be sure, my password once again is</h5>
      <div class='input-form'> <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'something memorable', class: 'input', required: true, id: 'pass_confirmation', onkeyup: 'passwordMatching();' %> </div>
    </div>
  </div>

  <div class='row'>
    <div class='field small-12 small-centered medium-10 large-8 column'>
      <div class='phoneErrors form-error-msg'> You have entered an invalid phone number.
      </div>
      <h5 class='question'>And my phone number is</h5>
      <div class='input-form'>
          <%= f.text_field :phone, placeholder: 'ex. (510) 123 - 4567', class: 'input phone', id: 'phone', onBlur: "validatePhone('phone');", onclick:"maskPhone()", onkeyup: "onFixedPhoneError('phone');"  %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='field small-12 small-centered medium-10 large-8 column'>
      <h5 class='question'>A few things I would like others to know about me are</h5>
      <div class='input-form'>
          <%= f.text_field :bio, placeholder: 'ex. I enjoy going to the movies.', class: 'input bio', id: 'bio' %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='field small-12 small-centered medium-10 large-8 column'>
      <h5 class='question'>So that others can recognize me, here is a photo of me:</h5>
      <p style='float:left;'><i>Click on the image to choose a photo from your computer.</i></p>
      <div class="upload-pic">
        <i class="fa fa-camera fa-2x"><h5 class="photo-upload"><b>Upload photo</b></h5></i>
        <%= image_tag((@user.photo), class: "photoPreview") %>
        <%= f.file_field :photo, class: 'uploadFile' %>
      </div>
    </div>
  </div><br/>

  <div class="row modal-footer">
    <div class="form-actions small-10 small-centered medium-8 large-7 column">
      <div class="actions">
        <%= f.submit "Complete Registration", class: 'button', id: 'register-button'%>
      </div>
    </div>
  </div><br/>
<% end %>
</div>
